.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.play-icon:hover {
  color: green;
}

.slot-container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  gap: 15px;
}

.slot {
  width: 20px;
  height: 20px;
}

.input-slot {
  background-color: green;
}

.slot:hover, .selected-slot
{
  background-color: red;
  color: red;
}

.component-ui
{
  position: absolute;
}

.white {
  color: white;
}

.app-bg {
  background-color: rgb(38,48,66);
}

.link-active {
  color: rgb(4,122,159);
}

.no-style {
  text-decoration: none;
}